.input {
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.inputContainer {
    width: 100%;
}

input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 100%;
    box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
