.form {
    margin-top: 24px;
    border: 2px solid black;
    border-radius: 24px;
    width: fit-content;
}

.main-form-group {
    display: flex;
    padding: 8px;
}

.form-input-files {
    display: flex;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555555;
}

.submit-button-container {
    margin: 16px;
    margin-top: 0;
}

.submit-button {
    background-color: #5cb85c;
    width: 100%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    box-sizing: border-box;
}

.submit-button:hover {
    background-color: #4cae4c;
}
